html {
    scroll-behavior: smooth;
  }
  
  #section1 {
    background-image: url('source/backgroundsection1.jpg');
    background-size: cover;
    height: 1000px;
  }

 
  #StakedElfsMainSection, #StakedOrc, #UnstakedElfsMainSection, #UnstakedOrc{
    border: 10px rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.602);
    border-style: solid;
    position: relative;
    height: 250px;
    width: 600px;
    left: 250px;
    top: 250px;
    float: left;
    padding: 20px;
    margin: 20px;
    overflow-y: scroll;
  }

  #StakedElfsTemporary{
    position: relative;
    height: 250px;
    width: 600px;
    left: 0px;
    top: 0px;
    padding: 20px;
    margin: 20px;
  }

  #UnstakedElfsTemporary{
    position: relative;
    height: 250px;
    width: 600px;
    left: 0px;
    top: 0px;
    padding: 20px;
    margin: 20px;
  }
 
 #StakedElfsButtons{
   position: absolute;
   top: 15%;
   left: 25%;
 }

 #UnstakedElfsButtons{
  position: absolute;
  top: 15%;
  left: 25%;
}
 

  #StakedElf{
    border: 4px black solid;
    background-size: cover;
    height: 100px;
    width: 80px;
    float: left;
    margin: 20px;
  }

  #UnstakedElf{
    border: 4px black solid;
    background-size: cover;
    height: 100px;
    width: 80px;
    float: left;
    margin: 20px;
  }


  
  #section2 {
    height: 600px;
    background-color: yellow;
  }

  #section3 {
    height: 600px;
    background-color: blue;
  }
  
  p {
    text-align: center;
    font-size: 15px;
    margin-top: 0px;
    position: relative;
    top: 180px;
    left: 0px;
  }


  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li{
    float: left;
  }

  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
  }

  li a:hover{
    background-color: #111;
  }
